{% extends 'base/base.html' %}
{% block title %}
Parklist
{% endblock %}

{% load static %}
{% block content %}
<div class="header-bar">
    <a href="{% url 'slots' %}">&#8592;Back</a>
    <h1 class="head text-white" >NEW REGISTRATION</h1>

</div>

        <div class="card-body">
        
        <form class="text-white " method="post" action="" style="font-size:19px">
        
         {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="submit"/>
        
    

        </form>
    </div>

    


{% endblock %}