{% extends 'base/base.html' %}

{% block content %}
<div class="header-bar">
    <a href="{% url 'index' %}">&#8592;Back</a>
    <div>
       <h3>slots</h3>
    </div>
</div >

<div class="card-body">


    <h3 style="text-align:center">slots</h3>
    <div id="search-add-wrapper">
        <form method="GET" style="margin-top:20px; display:flex;">
    <input type="text" name="search-area" value="{{search_input}}">
    <input class="button-search" type="submit" value="Select">
        </form>
        <button class="add"><a id="add-link" href="#">Add</a></button>
    </div>

<hr>
<div class="task-items-wrapper">
    {% for item in park %}
    <div class="task-wrapper">
        {% if item.slot_available is True %}
            <div class="task-title">
                
                <a href="{% url 'customer' %}"><button class="slot-btn-yes" style="width:4rem; height: 2rem;background-color: rgb(219, 213, 213);" >{{item.name}}</button> </a>
            </div>
        <a class="edit-link" href="{% url 'slotupdate' item.id %}"><i style="font-size:20px;" class="bi bi-pencil-square"></i></a>
        

        {% else %}
            <div class="task-title">
                <a href="#"></a><button class="slot-btn-no" style="width:4rem; height: 2rem; background-color: green; ">{{item.name}}</button>
                
            </div>
        <a class="edit-link" href="{% url 'slotupdate' item.id %}"><i style="font-size:20px;" class="bi bi-pencil-square"></i></a>
        


        {% endif %}
    </div>
<hr>

    {% endfor %}
</div>



</div>

   
    
               
    {% endblock %}