{% extends 'main.html' %}

{% load static %}

 

{% block content %}
<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-color: black;
    border-width: 2px;
}
</style> 
<div class="header-bar">
    <a href="{% url 'index' %}">&#8592;Back</a>
    <h2 style="padding-right:50vh;">Parking Records</h2>
</div >

<div class="card-body">
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>NAME</th>
                <th>CONTACT</th>
                <th>VEHICLE</th>
                <th>REGISTRATION No:</th>
                <th>OCCUPIED TIME</th>
                <th>REMOVED TIME</th>
            </tr>
        </thead>
        <tbody>
            {% for h in history %}
                <tr>
                    <td>{{ h.name }}</td>
                    <td>{{ h.contact }}</td>
                    <td>{{ h.vehicle_name }}</td>
                    <td>{{ h.registration_no}}</td>
                    <td>{{ h.occupied_time }}</td>
                    <td>{{ h.left_time }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No history found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
