{% extends 'main.html' %}

{% block content %}
<style>
    .slot-btn:hover{
        cursor: pointer;
    }
</style>
<div class="header-bar">
    <a href="{% url 'index' %}">&#8592;Back</a>
    <h2 style="margin-right:65vh;">slots</h2>
</div>

<div class="card-body">
    <div class="col-lg-2">
        {% for slot in slots %}
        {% if slot.is_available %}
		
            <a href="{% url 'add_customer' slot_id=slot.id %}"><button class="slot-btn" style="width:3rem; height: 3rem;background-color:white; color:black; ">{{slot.name}}</button></a>
			{% else %}
        
            <a><button class="slot-btn" href="#" style="width:3rem; height: 3rem;background-color: green;color: white;">{{slot.name}}</button></a>
		
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
<!-- <h2>Parking Slots</h2>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for slot in slots %}
                <tr>
                    <td>{{ slot.name }}</td>
                    {% if slot.is_available %}
                        <td style="color: green;">Available</td>
                        <td><a href="{% url 'add_customer' slot_id=slot.id %}">Add Customer</a></td>
                    {% else %}
                        <td style="color: red;">Occupied</td>
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table> -->